/* body{
    margin: 0px;

}

#container div{
    position: absolute;
    bottom: 0px;
    animation: anim2 4s infinite;
}

@keyframes anim2 {
    0% {
        bottom: 0px;
    }
    50% {
        bottom: 1000px;
    }
    100% {
        bottom: 0px;
    }

}

img {
    width: 20%;
}
#container {
    position: relative;
    height: 550px;
    background-size: 100% 100%;
}
#div_1 {
    left: 10px;
    animation-timing-function: linear;
}
#div_2 {
    left: 100px;
    animation-timing-function: ease-in;

}
#div_3 {
    left: 200px;
    animation-timing-function: ease-out;

}
#div_4 {
    left: 400px;
   -webkit-animation-timing-function: ease-in;
} */
body {
    background-color: #F5F5F5;
    color: #555;
    font-size: 18px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
    margin: 50px auto;
    max-width: 700px;
    padding: 30px;
    border: 1px solid #aaa;
    background-color: white;
}

.element {
    width: 50px;
    height: 50px;
    position: relative;
    top: 0;
    left: 0;
}

.element-1 {
    background-color: #009966;
}

.element-2 {
    background-color: purple;
}

.container:hover .element-1 {
    -webkit-animation-name: zigzag;

    -webkit-animation-duration: 3s;

    -webkit-animation-timing-function: linear;

}

.container:hover .element-2 {
    -webkit-animation-name: controlled-zigzag;

    -webkit-animation-duration: 3s;

}

@-webkit-keyframes zigzag {
    from {
        left: 0;
        top: 0;
    }
    15% {
        left: 50px;
        top: -50px;
    }
    30% {
        left: 100px;
        top: 0;
    }
    45% {
        left: 150px;
        top: -50px;
    }
    60% {
        left: 200px;
        top: 0;
    }
    75% {
        left: 250px;
        top: -50px;
    }
    100% {
        left: 300px;
        top: 0;
    }
}


@-webkit-keyframes controlled-zigzag {
    from {
        left: 0;
        top: 0;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    15% {
        left: 50px;
        top: -50px;
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    30% {
        left: 100px;
        top: 0;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    45% {
        left: 150px;
        top: -50px;
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    60% {
        left: 200px;
        top: 0;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    75% {
        left: 250px;
        top: -50px;
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    90% {
        left: 300px;
        top: 0;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    100% {
        left: 0;
        top: 0;
    }
}

